<app-navbar></app-navbar>
<br><br>
<div class="row justify-content-center">
	<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
	    <div class="text-center">
	        <form #deleteForm=ngForm (ngSubmit)="delete()">
	            <h4>Delete Profile</h4><br>
	            <div class="form-group">
	                <p>Are you sure you want to delete {{video.name}} video?</p>
	            </div><br>
	            <div class="text-center">
	                <button type="submit" class="btn btn-success form-control" [disabled]="!deleteForm.valid" name="delete">Delete</button><br><br>
			        <button routerLink="/videos" class="btn btn-danger form-control">Cancel</button>
	            </div>
	        </form>
	    </div>
	</div>
</div>