<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
    	<br><h1>TubeKids</h1><br>
    </div>
    <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>
    <form #loginForm=ngForm (ngSubmit)="login()">
    	<label>Email</label><br>
      	<input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" [(ngModel)]="user.email" required>
    	<label>Password</label>
      	<input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" [(ngModel)]="user.password" required>
      <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="register">Register</a>
    </div>

  </div>
</div>