<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Verify Your Email Address</div>
                <div class="card-body">
                    <label>
                    	Before proceeding, please check your email for a verification link.
                    </label><br>
                    <label>
                    	If you did not receive the email,
                    </label>
                    <a class="btn btn-primary text-white" (click)="sendEmail()">Click here to request another</a>
                </div>
                <div class="card-footer">
                    <a routerLink="">If you already verified your email you can click here</a>
                </div>
            </div>
        </div>
    </div>
</div>
